:root{
  --linea--border-relleno:#3498db;
  --linea--border-vacio:#e0e0e0;
}

header {
    background-color: #e9431e;
    width: 100%;
  }
  
  .btn{
    background-color: #e9431e;
  }
  
  footer {
    background-color: #e9431e; 
    position:fixed;
    left:0px;
    bottom:0px;
    height:fit-content;
    width:100%;
  }
  
  #navbar{
    background-color: #e9431e;
    color: white;
  }

  #dropdown {
    background-color: #e9431e;
  }

  #navbarHeader a:hover {
    background-color: #ee4d29;
  }
  

  /* BARRA PROGRESO FORMULARIO */

  .contenedor{
    text-align: center;
  }

  .progreso-contenedor{
    display: flex;
    justify-content: space-between;
    position: relative;
    margin-bottom: 30px;
    max-width: 100%;
    width: 350px;
  }

  .progreso-contenedor::before{
    content: '';
    background-color: var(--linea--border-vacio);
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    height: 4px;
    width: 100%;
    z-index: -1;
    transition:  0.4s ease;
  }

  
  .progreso{
    background-color: var(--linea--border-relleno);
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    height: 4px;
    width: 0%;
    z-index: -1;
    transition:  0.8s ease;
  }

  .circle{
    background-color: #fff;
    color: #999;
    border-radius: 50%;
    height: 30px;
    width: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 3px solid var(--linea--border-vacio);
    transition: 0.4s ease;
  }

  .circle.active{
    border-color: #3498db;
  }

  .formulario{
    opacity: 0;
    visibility: hidden;
    height: 0;
    transition: all 0.5s ease;
  }
  .formulario.active{
    opacity: 1;
    visibility: visible;
    height: auto;
  }
  

  .boton{
    margin-top: 30px;
  }