<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../Public/bootstrap-5.0.2-dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="../Assets/CSS/estilos.css" />
    <link rel="stylesheet" href="../Assets/CSS/video.css">
    <link rel="stylesheet" href="../Assets/CSS/menu.css">
    <title>Document</title>
    <link rel="stylesheet" href="//code.jquery.com/ui/1.13.2/themes/base/jquery-ui.css" />
    <script src="https://code.jquery.com/jquery-3.6.0.js"></script>
    <script src="https://code.jquery.com/ui/1.13.2/jquery-ui.js"></script>
    <script></script>
</head>

<body>
    <header id="navbar">
        <div class="collapse" id="navbarToggleExternalContent">
            <nav class="row  bg-dark p-4">
                <div class="col nav-item">
                    <a class="nav-link active text-light" aria-current="page" href="#seccion-uno">Seccion 1</a>
                </div>
                <div class="col nav-item">
                    <a class="nav-link text-light" href="#seccion-dos">Seccion 2</a>
                </div>
                <div class="col nav-item">
                    <a class="nav-link text-light" href="#seccion-tres">Seccion 3</a>
                </div>
                <div class="col nav-item">
                    <a class="nav-link text-light" href="#seccion-cuatro">Seccion 4</a>
                </div>
            </nav>
        </div>
        <nav class="navbar navbar-dark bg-dark">
            <div class="container-fluid">
                <button id="botonMenu" class="navbar-toggler ms-auto " type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
            </div>
        </nav>
    </header>
    <br>
    <div class="container">
        <div class="row" style="justify-content: center" id="seccion-uno">
            <!-- seccion 1 Timer -->
        </div>
        <br>
        <div class="row text-center border m-2 p-4 mx-auto col-sm-10" style="justify-content: center" id="seccion-dos">
            <!-- seccion 2 -->
            <h2>Ultima Competencia Internacional Taekwondo WTF</h2> <br>
            <div class="ratio" style="--bs-aspect-ratio: 50%;" id="video">
                <iframe src="https://www.youtube.com/embed/ermNRSmkGF8" title="Ultima Competencia Internacional Poomsae"
                    allowfullscreen></iframe>
            </div>
            <div id="link">
                <a href="https://youtu.be/ermNRSmkGF8">Link Video en YouTube</a>
            </div>

        </div>
        <br>
        <div class="row" style="justify-content: center" id="seccion-tres">
            <!-- seccion 3 -->
            <!-- <label for="filtro-tabla" class="col-sm-4 col-form-label"
        >Filtro de búsqueda</label
      > -->
            <div>
                <!-- Filtro de busqueda para la tabla -->
                <select id="filtro-select" class="form-select col-md-2" aria-label="Default select example">
                    <option selected value="default">Buscar según</option>
                    <option value="nombre">Nombre</option>
                    <option value="apellido">Apellido</option>
                    <option value="pais">País</option>
                </select>
                <input type="text" class="form-control" id="filtro-busqueda" name="filtro-busqueda" />
                <button type="submit" id="boton-select">Go</button>
            </div>
            <table class="table table-striped table-hover">
                <thead>
                    <tr>
                        <th>Nombre</th>
                        <th>Apellido</th>
                        <th>Género</th>
                        <th>País</th>
                        <th>Graduación</th>
                        <th>Clasificación</th>
                        <th>GAL</th>
                    </tr>
                </thead>
                <tbody id="table-body">

                </tbody>
            </table>
        </div>
        <br>
        <div class="container-formulario border m-2 p-2 mx-auto col-sm-10" id="seccion-cuatro">
            <!-- seccion 4 -->

            <h1>Formulario de registro</h1>
            <form id="formulario">
                <div class="contenedor">
                    <div class="progreso-contenedor">
                        <div class="progreso" id="progreso"></div>
                        <div class="circle active">1</div>
                        <div class="circle">2</div>
                        <div class="circle">3</div>
                    </div>
                </div>
                <div class="formulario active">
                    <div class="row mb-3">
                        <label for="nombre" class="col-sm-4 col-form-label">Nombre</label>
                        <div class="col-sm-8">
                            <input type="text" class="form-control" id="nombre" name="nombre" />
                        </div>
                    </div>
                    <div class="row mb-3">
                        <label for="apellido" class="col-sm-4 col-form-label">Apellido</label>
                        <div class="col-sm-8">
                            <input type="text" class="form-control" id="apellido" name="apellido" />
                        </div>
                    </div>

                    <div class="row mb-3">
                        <label for="du" class="col-sm-4 col-form-label">DU</label>
                        <div class="col-sm-8">
                            <input type="text" class="form-control" id="du" name="du" />
                        </div>
                    </div>
                    <div class="row mb-3">
                        <label for="fecha-nacimiento" class="col-sm-4 col-form-label">Fecha de nacimiento</label>
                        <div class="col-sm-8">
                            <input type="date" class="form-control" id="fecha-nacimiento" name="fecha-nacimiento"
                                min="1960-01-01" />
                        </div>
                    </div>
                </div>
                <div class="formulario">
                    <div class="row mb-3">
                        <label for="pais" class="col-sm-4 col-form-label">País de origen</label>
                        <div class="col-sm-8">
                            <input class="form-control" id="pais" name="pais" />
                            <div id="autocomplete-suggestions" class="autocomplete-suggestions"></div>
                        </div>
                    </div>
                    <div class="row mb-3">
                        <label for="email" class="col-sm-4 col-form-label">Email de contacto</label>
                        <div class="col-sm-8">
                            <input type="email" class="form-control" id="email" name="email" />
                        </div>
                    </div>
                    <div class="row mb-3">
                        <label for="genero" class="col-sm-4 col-form-label">Género</label>
                        <div class="col-sm-8">
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="genero" id="femenino"
                                    value="Femenino" />
                                <label class="form-check-label" for="femenino">
                                    Femenino
                                </label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="genero" id="masculino"
                                    value="Masculino" />
                                <label class="form-check-label" for="masculino">
                                    Masculino
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="formulario">
                    <div class="row mb-3">
                        <label for="gal" class="col-sm-4 col-form-label">GAL</label>
                        <div class="col-sm-8">
                            <input type="text" class="form-control" id="gal" name="gal" placeholder="Ej: ABC1234567" />
                            <!-- <span id="gal-error" style="display: none"
                  >El GAL debe tener 9 caracteres, los primeros 3 letras y los
                  restantes números (Ej: ABC1234567)</span
                > -->
                        </div>
                    </div>
                    <div class="row mb-3">
                        <label for="graduacion" class="col-sm-4 col-form-label">Graduación</label>
                        <div class="col-sm-8">
                            <select class="form-select" id="graduacion" name="graduacion">
                                <option value="">Seleccione una graduación</option>
                                <option value="1ro GUP">1ro GUP</option>
                                <option value="2do GUP">2do GUP</option>
                                <option value="3ro GUP">3ro GUP</option>
                                <option value="4to GUP">4to GUP</option>
                                <option value="5to GUP">5to GUP</option>
                                <option value="6to GUP">6to GUP</option>
                                <option value="7mo GUP">7mo GUP</option>
                                <option value="8vo GUP">8vo GUP</option>
                                <option value="9no GUP">9no GUP</option>
                                <option value="10mo GUP">10mo GUP</option>
                                <option value="1er DAN">1er DAN</option>
                                <option value="2do DAN">2do DAN</option>
                                <option value="3er DAN">3er DAN</option>
                                <option value="4to DAN">4to DAN</option>
                                <option value="5to DAN">5to DAN</option>
                                <option value="6to DAN">6to DAN</option>
                                <option value="7mo DAN">7mo DAN</option>
                                <option value="8vo DAN">8vo DAN</option>
                                <option value="9no DAN">9no DAN</option>
                            </select>
                        </div>
                    </div>
                    <div class="row mb-3">
                        <label for="clasificacion" class="col-sm-4 col-form-label">Clasificación general del ranking
                            nacional</label>
                        <div class="col-sm-8">
                            <input type="text" class="form-control" id="clasificacion" name="clasificacion"
                                placeholder="Ingrese su posición en el ranking nacional" pattern="^\S+$" required />
                        </div>
                    </div>
                </div>
                <button class="boton" id="anterior" disabled>Anterior</button>
                <button class="boton" id="siguiente">Siguiente</button>
                <button id='enviarBtn' type="button" class="btn text-light" style="display: none">
                    Enviar
                </button>
            </form>
            <!-- <div
          id="envio"
          class="alert alert-danger mt-3"
          style="display: none"
          role="alert"
        ></div>
      </div>
                <button type="submit" class="btn text-light">Enviar</button>
            </form> -->
            <div id="envio" class="alert alert-danger mt-3" style="display:none;" role="alert"></div>


        </div>

        <div class="row" style="justify-content: center;" id="tarjetas">
            <!-- tarjetas de competidores, se generan con js y la función mostrar competidores -->
        </div>
    </div>
    <footer class="page-footer font-small position-relative bottom-0 bg-dark">
        <div class="container row mt-2">
            <!-- Copyright -->
            <div class="footer-copyright text-center py-3 text-light col mx-0 mt-2" id="copyright">
                Grupo 7 :)
            </div>
        </div>
    </footer>

    <script src="../Assets/JS/barraProgreso.js"></script>
    <script type="module" src="../Assets/JS/index_DOM.js"></script>
    <script src="../Assets/JS/arrayCompetidores.js"></script>
    <script src="../Assets/JS/competidor.js"></script>

</body>

</html>