<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="../Public/bootstrap-5.0.2-dist/css/bootstrap.min.css"
    />
    <link rel="stylesheet" href="../Assets/CSS/estilos.css" />
    <title>Document</title>
  </head>
  <body>
    <div class="row">
      <div class="timerContainer card col col-sm-10 mx-auto m-4">
        <h5 class="card-header">Cronometro</h5>
        <div class="card-body">   
          <p id="timer" class="ms-3 fs-3"> 90seg </p>
          
          <a id="btnIniciar" href="#" class="btn btn-primary ms-2">Iniciar</a>
          <a id="btnDetener" href="#" class="btn btn-danger disabled">Detener</a>
          <a id="btnReiniciar" href="#" class="btn btn-success">Reiniciar</a>
          <p id="contador" class="ms-2 fs-4" ></p>
        </div>
      </div>
    </div>
    <script>
// Obtenemos los elementos desde el HTML
let timerElement = document.getElementById("timer");
let timerRestanteElement = document.querySelector('.card-title');
let btnIniciar = document.getElementById("btnIniciar");
let btnDetener = document.getElementById("btnDetener");
let contador = document.getElementById("contador");
let btnReiniciar = document.getElementById("btnReiniciar");

// Seteamos el timer con una duracion de 90 segundos
let tiempo = 90;
let temporizador;
let tiempoTotal = 0;

const actualizarContador = () => {  
  tiempo--;
 
  if (tiempo <= 0) {
    if (tiempo === 0) {

      timerElement.style.color = 'red';
      timerElement.innerHTML = `${Math.abs(tiempo)} seg de OVERTIME`;
     
    } 
    else {
      timerElement.innerHTML = `${Math.abs(tiempo)} seg de OVERTIME`;
    
    }
  } else {
    timerElement.innerHTML = `${tiempo}` + 'seg';
  

  }
    tiempoTotal = 90 - tiempo;

};

btnIniciar.addEventListener('click', () => {
  temporizador = setInterval(actualizarContador, 1000);
  btnIniciar.classList.add('disabled')
  btnDetener.classList.remove('disabled')
  contador.style.display = 'none'
  
});


btnDetener.addEventListener('click', () => {
  clearInterval(temporizador);
  btnDetener.classList.add('disabled')
  btnIniciar.classList.remove('disabled')
  contador.style.display = 'block'

  if (tiempoTotal > 90) {
    contador.style.color = 'red'
    contador.innerHTML = `Tiempo Total: ${tiempoTotal} seg`;
    
  }
  else{
    contador.style.color = 'black'
    contador.innerHTML = `Tiempo Total: ${tiempoTotal} seg`;
  }

});

btnReiniciar.addEventListener('click', () => {
  window.location.reload()
  
});

const
  screen = {
    small: 400,
    medium: 576,
    large: 1200
  };

// observe window resize
window.addEventListener('resize', resizeHandler);

// initial call
resizeHandler();

// calculate size
function resizeHandler() {

  // get window width
  const iw = window.innerWidth;
 
  // determine named size
  let size = null;
  for (let s in screen) {
    if (iw >= screen[s]) size = s;
  }

  // console.log(size);
}

let w = window.innerWidth
let h = window.innerHeight
console.log(document.body.clientWidth)

// y window.innerHeight (o document.body.clientWidth y document.body.clientHeight
</script>